/*=============================================
VISTA IDENTIFICACION DE APOYOS
=============================================*/
#vista-identificacion .titulo-seccion {
    letter-spacing: 1px;
}

#vista-identificacion .apoyo-radial-card {
    background-color: #343a40 !important;
    background-image: radial-gradient(ellipse at top right, #17c42a 0%, transparent 65%) !important;
    color: white;
    border-radius: 12px;
    border: 1px solid #343a40;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}

#vista-identificacion .apoyo-radial-card .inner {
    padding: 2.5rem 1.5rem;
    /* Crecer las tarjetas */
}

#vista-identificacion .apoyo-radial-card .inner h4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: white;
}

#vista-identificacion .apoyo-radial-card .inner p {
    font-size: 1.05rem;
    color: #dfdfdf;
}


#vista-identificacion .small-box .collapse-opciones {
    background: rgba(16, 19, 16, 0.552);
    border-top: 1px solid rgba(225, 232, 222, 0.688);
}

#vista-identificacion .apoyo-btn {
    border-radius: 6px;
    font-size: 0.85rem;
    background-color: #252525 !important;
    border-color: #252525 !important;
    color: white !important;
}

#vista-identificacion .apoyo-btn:hover {
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important;
}